!!! 5
%html

  %head
    %title Three Thirties
    %link{ :href => "/stylesheets/site.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light', :rel => 'stylesheet', :type => 'text/css' }

  %body
    #site
      %p.intro
        %strong Working Software
        is the primary measure of progress.
      .info
        %h1 Three Thirties
        %h2 Jim Garvin
        %img{ :class => "headshot", :src => "http://thegarvin.com/images/headshot_medium.jpg" }
        %ul
          %li
            %a{ :href => "mailto:jim@threethirties.com" } jim@threethirties.com
          %li
            %a{ :href => "http://twitter.com/coderifous" } @coderifous
          %li
            %a{ :href => "tel:571-249-3930" } 571-249-3X30
