---
---
!!! 5
%html

  %head
    %title Three Thirties
    %link{ :href => "/stylesheets/site.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Josefin+Sans', :rel => 'stylesheet', :type => 'text/css' }

  %body
    #sticky
      .info
        %h1 Three Thirties
        %h2 Jim Garvin
        %img{ :class => "headshot", :src => "http://thegarvin.com/images/headshot_medium.jpg" }
        %ul
          %li
            %a{ :href => "mailto:jim@threethirties.com" } jim@threethirties.com
          %li
            %a{ :href => "http://twitter.com/coderifous" } @coderifous
          %li
            %a{ :href => "tel:571-249-3930" } 571-249-3X30
          %li
            %a{ :href => "http://www.thegarvin.com/" } my blog
          %li
            %a{ :href => "https://github.com/coderifous" } my github

    #site
      .summary
        %p
          I'm a software developer & consultant based in
          <a href="http://maps.google.com/maps?q=leesburg,+va&hnear=Leesburg,+Loudoun,+Virginia&gl=us&t=h&z=12">Leesburg, VA</a>.
          I've been <a href="http://en.wikipedia.org/wiki/Commodore_64">programming since I was 8 years old</a>,
          and I've been helping businesses build software professionally for the
          past 11 years.  My focus is on building working software,
          <a href="http://agilemanifesto.org/">the right way</a>.

        %p
          For software development, I believe in the principles of the
          <a href="http://agilemanifesto.org/principles.html">Agile Manifesto</a>,
          which describe a common sense approach to working with teams and building
          software systems.

        %p
          I'm also a proponent of the practices encouraged by the
          <a href="http://en.wikipedia.org/wiki/Lean_Startup">Lean Startup</a>
          method.  It places an emphasis on rapid iterations, testing market
          assumptions, and getting to a minimum viable product with as little
          waste as possible.

        %p
          A few interesting companies I've started and projects I've worked on
          are listed below.  If you've got a project that you'd like help with,
          please
          <a href="mailto:jim@threethirties.com?subject=I've got a project that could use your help...">email me</a>.

      .portfolio

        .project
          .title
            %a{ :href => "http://busyconf.com" } BusyConf &rArr;
          .description
            %p
              BusyConf is a bootstrapped company that I started with a partner
              in 2010.  It's a SaaS that helps conference organizers put on
              conferences.  Conference organizers can run
              %a{ :href => "https://spreeconf2012.busyconf.com/bookings/new" } ticket registration
              and
              %a{ :href => "https://rubynation2012.busyconf.com/proposals/new" }call for proposals
              through the platform, and
              %a{ :href => "http://rubyconf2011.busyconf.com/schedule/full" } publish schedules
              that are optimized for mobile, tablet, and desktop browsers.
          %ul.tech-highlights
            %li ruby, rails
            %li mongodb
            %li coffeescript

        .project
          .title
            %a{ :href => "http://lmgtfy.com/" } Let Me Google That For You &rArr;
          .description
            LMGTFY is a popular internet meme and website that helps people
            answer questions that should've just been googled.  Interesting
            components include a
            %a{ :href => "http://live.lmgtfy.com" } live feed
            of searches going through the site,
            and a Living Social affiliates ad server proxy to serve targeted
            deals based on geo-ip lookup.  Revenue comes from
            <a href="http://buysellads.com/buy/detail/30626">ads</a>,
            <a href="http://itunes.apple.com/us/app/lmgtfy-official/id488551684?mt=8">iOS app sales</a>,
            and also <a href="http://lmgtfy.com/stickers.html">sticker sales</a>.
          %ul.tech-highlights
            %li static haml, sass
            %li translated into ~60 languages using <a href="https://github.com/coderifous/jquery-localize">jquery.localize</a>
            %li >100k unique visitors every day

        .project
          .title
            %a{ :href => "http://www.smallact.com/software/thrive/" } Thrive &rArr;
          .description
            Thrive is social CRM software targeted for use by non-profit
            organizations.  It helps them nurture key relationships to get
            members, donations and advocates through social media.
          %ul.tech-highlights
            %li ruby, rails
            %li mysql + mongodb
            %li heavy use of asyncronous & scheduled jobs

        .project
          .title
            %a{ :href => "http://www.smallact.com/software/profile-builder/" } Profile Builder &rArr;
          .description
            Profile Builder is a system that processes email lists and produces
            detailed social profiles, enhancing CRM databases and improving
            success rate in getting major gifts from key supporters.
          %ul.tech-highlights
            %li ruby, rails
            %li mongodb
            %li heavy API processing

        .project
          .title
            %a{ :href => "http://onthegoalerting.com/" } On-The-Go Alerting &rArr;
          .description
            Billed as "The
            %a{ :href => "http://itunes.apple.com/us/app/on-the-go-alerting/id453816341?mt=8" }iPad App
            for sending emergency alerts", it's a
            commercial service that provides access to the various Federal
            emergency alert systems.
          %ul.tech-highlights
            %li ruby, rails
            %li postgresql
            %li geospatial data
            %li XML-SOAP interoperation, including XML-SIG.

        .project
          .title
            %a{ :href => "http://customink.com/" } Custom Ink &rArr;
          .description
            Custom Ink is the #1 online custom T-Shirt service.  Visitors can
            choose from hundreds of products, and create custom designs in an
            online lab.  The orders are fulfilled and shipped by Custom Ink.  I
            helped Custom Ink by automating, streamlining, and building visibility into the order
            fulfillment process, overhauling their order queue system and UI, and
            laying the groundwork for a transition from Big Ball of Mud to SOA.
          %ul.tech-highlights
            %li ruby, rails
            %li oracle, couchdb
            %li SOA

        .project
          .title Mobile Discovery
          .description
            Mobile Discovery was an early endeavor to link physical ads with the
            mobile world through QR codes.  It was billed to marketing agencies
            as an ad campaign management and anaylitics platform, and to consumers
            as a way to manage privacy and more easily connect to interesting
            content.
          %ul.tech-highlights
            %li ruby, rails
            %li facebook app
            %li netbiscuits proxy (for mobile device content tailoring)
            %li MXTelecom integration (SMS gateway integration)

        #resume{ :style => "text-align: center" }
          %a{ :href => "/resume/jim-garvin.html" } my resum&eacute;
