/* line 17, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../src/site.sass */
body {
  background: url(/linen.png) #eeeeee;
  color: #111111;
  font-family: "Josefin Sans", arial, serif;
  font-size: 32px;
  line-height: 48px;
}
/* line 16, ../src/site.sass */
body a {
  color: #009bd6;
  text-decoration: none;
}
/* line 4, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
body a:hover {
  text-decoration: underline;
}

/* line 20, ../src/site.sass */
#sticky {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 25, ../src/site.sass */
#site {
  position: relative;
  padding: 10px 0;
  width: 500px;
  margin-left: 320px;
  overflow: hidden;
  *zoom: 1;
}

/* line 32, ../src/site.sass */
.headshot {
  width: 200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 36, ../src/site.sass */
.intro, .info, .summary, .project {
  padding: 0 20px;
  margin: 24px 0;
}

/* line 40, ../src/site.sass */
.intro {
  margin-bottom: 30px;
  line-height: 24px;
  font-size: 20px;
}
/* line 44, ../src/site.sass */
.intro strong {
  color: #d40098;
}

/* line 47, ../src/site.sass */
.summary p {
  font-size: 20px;
  line-height: 32px;
  margin: 20px 0;
}

/* line 52, ../src/site.sass */
.portfolio {
  font-size: 20px;
  line-height: 32px;
}

/* line 56, ../src/site.sass */
.project {
  background: url(/linen.png) white;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 60, ../src/site.sass */
.project .title {
  font-weight: bold;
}
/* line 62, ../src/site.sass */
.project .title a {
  color: #d40098;
}
/* line 64, ../src/site.sass */
.project .description {
  font-size: 18px;
}
/* line 66, ../src/site.sass */
.project .tech-highlights li {
  font-size: 18px;
  color: #666666;
  display: inline-block;
  text-shadow: white 1px 1px 1px;
}
/* line 71, ../src/site.sass */
.project .tech-highlights li:after {
  content: "; ";
}
